/* .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .background-outer-wrapper {
      z-index: 1;
      min-width: 100%;
      position: absolute;
  
      .background-wrapper {
        background: linear-gradient(180deg, #eb7c49 0%, #f04f52 100%);
        height: 100vh;
      }
    }
  
    .outer-wrapper {
      z-index: 4;
      max-width: 900px;
  
      .inner-wrapper {
        .info-area {
          background-color: #2b66f6;
          border-radius: 18px;
          padding: 30px;
          max-width: 430px;
  
          .brand-image {
            width: 120px;
            border-radius: 18px;
            margin-bottom: 30px;
          }
  
          .banner-image {
            width: 100%;
            border-radius: 18px;
            margin-top: 30px;
          }
        }
  
        .form-area {
          padding: 20px 50px;
  
          .google-sso-area {
            text-align: center;
          }
        }
      }
    }
  }
   */